<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Proyecto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['inicio']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink]="['perfil']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['ayuda']">Ayuda</a>
      </li>
    </ul>

    <span class="navbar-text">

      <button (click) = "login()"
        *ngIf="!auth.isAuthenticated()"
        type="button" 
        class="btn btn-outline-primary btn-sm">Ingresar</button>

        <button (click) = "salir()"
        *ngIf="auth.isAuthenticated()"
        type="button" 
        class="btn btn-outline-primary btn-sm">Salir</button>

    </span>
    
  </div>
</nav>